@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.Step1-App {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #333333;
    font-family: 'Nunito', sans-serif;
}
.Step1-Body {
    background-color: #3f3f3f;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 0px;
}
.Step1-Body img {
    width: 218px;
    height: 235px;
}
.Step1-Return-Btn {
    display: flex;
    float: left;
    padding: 6px;
    margin-top: 625px;
    margin-left: -200px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Search_Btn:hover {
    cursor: pointer;
    color: #333;
    background: black;
}
.Step1-Btn {
    font-weight: bold;
    max-width: 140px; 
    min-width: 145px;
    margin-left: 30px;
}
.Step1-Nav {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 10px;
}
.Step1-Carousel {
    margin-bottom: 22px;
}