@import url('https://fonts.googleapis.com/css?family=Audiowide|Changa');

.Step1-App {
    /* width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column; */
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Exersise-List>.Both-Sides {
    margin-top: 80px;
}
.Exersise-List:after {
    content: "";
    clear: both;
    display: table;
}
.Exersise-List>img:hover {
    cursor: pointer;
}
.Step1-Both-Sides {
    float: right;
    width: 33.33%;
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
}
.Step1-Both-Sides>img {
    width: 218px;
    height: 175px;
}
.Step1-Both-Sides {
    color: white;
    font-family: 'Changa', sans-serif;
}




.Step1-Routine-Info {
    height: 75px;
    width: 20%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 6px;
    margin-top: 70px;
    color: #f2f2f2;
}
.Step1-Routine-Details3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    color: #f2f2f2
}
.Step1-Routine-Details {
    height: 100px;
    width: 20%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 6px;
    margin-top: 180px;
    margin-left: -316px;
    color: white;
} 
.Return-Btn {
    display: flex;
    float: left;
    padding: 6px;
    margin-top: 625px;
    margin-left: -200px;
    font-size: 15px;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Return-Btn:hover {
    cursor: pointer;
}
.Search_Btn {
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0.5%;
    min-width: 12%;
    width: auto;
    font-size: 15px;
    margin-top: 0;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Search_Btn:hover {
    cursor: pointer;
    color: white;
    background: black;
}









@media only screen and (max-width: 376px) {
    .Step1-App {
        width: 375px;
        min-height: 672px;
        height: auto;
    }
    .Step1-Routine-Info {
        height: 150px;
        width: 10%;
    }
    .Step1-Routine-Details {
        height: 150px;
        width: 10%;
    }
    .Step1-Routine-Details3 {
        color: transparent;
    }
    .Search_Btn {
        margin-top: 30px;
    }
    .Exersise-List {
        margin-left: -80px;
        flex-direction: column;
        width: 430px;
    }
    .Exersise-List:after {
        /* display: flex; */
        /* flex-direction: column; */
    }
    img {
        width: 135px;
        height: 120px;
    }
    .Step1-Routine-Details {
        width: 0px;
        height: 0px;
    }
    .Step1-Routine-Info {
        width: 0px;
        height: 0px;
        background: transparent;
    }
    .Return-Btn {
        margin-left: 10px;
        margin-top: 40px;
    }
}