@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.Step4-App {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: #333333;
    font-family: 'Nunito', sans-serif;
}
.Step4-Body {
    background-color: #3f3f3f;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 0px;
}
.Search-Nav {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 35px;
}
.Search-Input {
    margin-left: 5px;
}
.Custom-Select {
    margin-left: 5px;
}
.Search-Btn {
    margin-left: 5px;
}
.Reset-Btn {
    margin-left: 5px;
}
.Search-Image {
    width: 258px;
    height: 255px;
}


@media only screen and (min-width: 1400px) {
    .Step4-App {
        min-width: 1400px;
        min-height: 672px;
        height: auto;
    }
    .All-Exercises {
        width: 1400px;
        margin-left: 0px;
    }
    .Both-Sidez {
        width: 15.00%;
        height: 190px;
        float: left;
    }
    .Both-Sidez>img {
        width: 180px;
        height: 175px;
    }
    .Both-Sidez h2 {
        width: 85px;
        word-wrap: break-word;
    }
}