@import url('https://fonts.googleapis.com/css?family=Audiowide');

.Step3-App {
    width: 100%;
    height: 100vh;
    /* display: flex;
    flex-direction: column; */
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Step3-Body {
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 6px;
    color: black;
    margin-top: 0px;
    padding-top: 50px;
}
.Exercise-Detail {
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
}
.Exercise-Desc {

}
.Exercise-Desc>h1 {
    font-size: 29px;
    float: left;
    font-family: 'Audiowide', cursive;
}
.Exercise-Desc>img {
    height: 400px;
    width: 350px;
    float: left;
}
h3 {
    padding-top: 10px;
    padding-left: 10px;
    width: 340px;
}
.Selectors {
    display: flex;
    flex-direction: row;
}
.Guide-Btns {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

@media only screen and (max-width: 376px) {
    .Step3-App {
        width: 375px;
        min-height: 672px;
        height: auto;
    }
    .Exercise-Desc>img {
        height: 300px;
        width: 350px;
        float: left;
    }
    .Btn-Img {
        width: 16px;
        height: 16px;
    }
}