@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.Step3-App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #333333;
    font-family: 'Nunito', sans-serif;
}
.Step3-Body {
    background-color: #3f3f3f;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 0px;
}
.Exercise-Detail {
    padding: 5px;
    margin: 5px;
}
.Exercise-Desc {
    margin-top: 0px;
}
.Exercise-Desc>h1 {
    color: #f2f2f2;
    font-size: 29px;
    float: left;
    font-family: 'Fjalla One', sans-serif;
}
.Exercise-Desc>img {
    height: 400px;
    width: 400px;
    float: left;
    border-radius: 15px;
    border: 8px solid black;
    margin-left: -150px;
    margin: 20px;
}
h3 {
    color: #f2f2f2;
    padding-top: 40px;
    padding-left: 10px;
    width: 640px;
}
.Selectors {
    display: flex;
    flex-direction: row;
    margin-top: 150px;
}
.Guide-Btns {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 0px;
    margin-left: -900px;
}
.Guide-Btns Button {
    max-width: 140px; 
    min-width: 145px;
    margin-left: 30px;
}
