@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.BMI-App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #333333;
  font-family: 'Nunito', sans-serif;
}
.BMI-Dash-App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.BMI-Body {
  background-color: #3f3f3f;
  height: 100%;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  padding: 6px;
  margin-top: 0px;
}
a{
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: none;
  color: white;
  text-decoration: none;
}
.BMI-Bkg-Picture {
  margin-top: 45px;
  width: 1063px;
  height: 300px;
  margin-top: -100px;
}

.BMI * {
    box-sizing: border-box;
  }
  
  .BMI {
    color: #f2f2f2;
    width: 50%;
    max-height: 500px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 6px;
    padding-top: 100px;
    display: flex;
    font-size: 20px;
    line-height: 30px;
    flex-direction: column;
    flex: 1;
    margin-left: 400px;
    margin-top: 40px;
    background: #333333;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  }
  
  .Row {
    display: flex;
    flex: 1;
    flex-direction: row;
    padding-bottom: 10px;
  }
  
  .Span1 {
    display: flex;
    flex: 1;
    margin: 0 10px;
  }
  
  .FormControls {
    width: 100%;
  }
  
  .FormControls > label {
    display: block;
    color: #f2f2f2;
  }
  
  .FormControls > .Control {
    display: block;
    border: none;
    padding: 5px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    height: 30px;
  }
  
  .FormControls > .Control[readonly] {
    background-color: whitesmoke;
  }