@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.Account-App {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #333333;
    font-family: 'Nunito', sans-serif;
}
.Account-Body {
    background-color: #3f3f3f;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 0px;
}
.Account-Bkg-Picture {
    margin-top: 45px;
    width: 1063px;
    height: 500px;
    margin-top: -300px;
}
.Title {
    font-size: 40px;
    font-style: italic;
}
Input {
    width: 400px;
}
.Account-Dash-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
  }
a:hover {
    text-decoration: none;
    color: white;
    text-decoration: none;
  }
/* Profile Img  */
.Account-Dash-Profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 12px;
    margin-top: 50px;
    border-radius: 5px;
}
.Account-Profile-Img {
    width: 150px;
    height: 150px;
    border-radius: 80px;
    border: 8px solid white;
}
.Account-Profile-Info-Content {

}
.Account-Profile-Name {
    font-size: 35px;
    padding-right: 10px;
    font-family: 'Audiowide', cursive;
    color: #f2f2f2;
}



.Account-Edit {
    overflow: hidden;
    width: 600px;
    position: relative;
    top: 3vh;
    margin-top: -500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold; 
}
.Account-Edit input {
    border-radius: 10px;
    padding: 1.5%;
    min-width: 20%;
    width: 450px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1.5%;
    font-weight: bold;
    color: #333;
}
.Account-Edit input {
    border: 1px solid #333;
}
.Account-Edit>.Gender>select {
    height: 15px;
}
.Account-Edit Button {
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 0%;
    min-width: 20%;
    width: 20px;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1.5%;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(8, 5, 5, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Account-Edit Button:hover {
    cursor: pointer;
}
.Account-Edit span {
    margin-top: 0;
    margin-right: 30%;
    margin-left: -20%;
    text-align: left;
    justify-content: left;
    font-size: 20px;
}
.Save {
    border: none;
    border-radius: 35px;
    padding-top: 20px;
}
.Account-Edit>span {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Gender {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.Delete-Btn {
    margin-right: -500px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1.5%;
    min-width: 20%;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 1.5%;
    padding-top: -10.0%;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Delete-Btn:hover {
    cursor: pointer;
}