@import url('https://fonts.googleapis.com/css?family=Audiowide|Changa');

.Account-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Account-Body {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-left: 500px;
    margin-top: -670px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Title {
    font-size: 40px;
    font-style: italic;
}
Input {
    width: 400px;
}
.Account-Dash-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
  }
a:hover {
    text-decoration: none;
    color: white;
    text-decoration: none;
  }
/* Profile Img  */
.Account-Dash-Profile {
    height: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 12px;
    margin-top: 50px;
    border-radius: 5px;
}
.Account-Profile-Img-Content {

}
.Account-Profile-Img {
    width: 200px;
    height: 200px;
    border: 5px solid #ffffff;
    border-radius: 120px;
}
.Account-Profile-Info-Content {

}
.Account-Profile-Name {
    font-size: 35px;
    padding-right: 10px;
    font-family: 'Audiowide', cursive;
    color: white;
}



.Account-Edit {
    overflow: hidden;
    width: 600px;
    position: relative;
    top: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold; 
}
.Account-Edit input {
    border-radius: 10px;
    padding: 1.5%;
    min-width: 20%;
    width: 450px;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 1.5%;
    font-weight: bold;
    color: black;
}
.Account-Edit input {
    border: 1px solid black;
}
.Account-Edit>.Gender>select {
    height: 15px;
}
.Account-Edit button {
    border: none;
    outline: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    padding: 1.5%;
    min-width: 20%;
    width: auto;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 1.5%;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Account-Edit button:hover {
    cursor: pointer;
    background: #000000;
    color: #ffffff;
}
.Account-Edit span {
    margin-top: 0;
    margin-right: 30%;
    margin-left: -20%;
    text-align: left;
    justify-content: left;
    font-size: 20px;
}
/* .Edit img {
    position: absolute;
    left: 0;
    top: 15;
    max-width:25%;
    max-height: 35%;
    padding: 2% 3%;
    width: auto;
    height: auto;
} */
.Save {
    border: none;
    border-radius: 35px;
    padding-top: 20px;
}
.Account-Edit>span {
    font-size: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.Gender {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}
.Delete-Btn {
    margin-right: -500px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 1.5%;
    min-width: 20%;
    width: auto;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 1.5%;
    font-weight: bold;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Delete-Btn:hover {
    cursor: pointer;
    background-color: red;
}
@media only screen and (max-width: 376px) {
    .Account-App {
        width: 375px;
        min-height: 672px;
        height: auto;
    }
    .Profile-Img {
        height: 110%;
        width: 110%;
        margin-top: -40px;
    }
    .Account-Profile-Info-Content {
        padding-top: -80px;
        height: 80px;
    }
    .Account-Profile-Name {
        font-size: 12.5px;
    }
    .Account-Dash-Profile {
        padding: 2px;
    }
    .Account-Dash-Navbar {
        height: 50px;
        width: 33%;
        margin-top: -50px;
    }
    .Account-Dash-Navbar>ul {
        font-size: 10px;
    }
    li {
        padding: 5px;
    }
    .Account-Body {
        width: 50%;
        height: 80%;
    }
    .Account-Edit {
        margin-top: 50px;
        margin-right: 650px;
    }
    .Account-Edit>span {
        font-size: 20px;
        margin-right: 35px;
    }
    .Account-Edit input {
        max-width: 35%;
        max-height: 5%;
        margin-right: 70px;
    }
    .Delete-Btn {
        margin-right: 650px;
        margin-bottom: -70px;
        height: 50px;
        width: 150px;
    }
}