.Create-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('https://i.pinimg.com/originals/24/d2/a3/24d2a357fe4f7f17bce9cec0ee7fb36d.jpg');
}
.Routines-Create {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 100px;
    margin-left: 10px;
    color: white;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Routines-Name {
    width: 200px;
    margin-top: 5px;
}
.Routines-Day {
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.Routines-Diff {
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.Routines-Muscle {
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.Routines-Type {
    width: 100px;
    height: 30px;
    margin-top: 5px;
}
.Routines-Desc {
    margin-left: 0px;
    margin-bottom: 5px;
    width: 280px;
    height: 100px;
}
.Create-Routine-Btn {
    width: 150px;
    height: 70px;;
}