@import url('https://fonts.googleapis.com/css?family=Audiowide|Changa');
@import url('https://fonts.googleapis.com/css?family=East+Sea+Dokdo');

.Goals-Appp {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Goals-Bodyy {
    width: 32%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px;
    margin-left: 1000px;
    margin-top: -660px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Goals-Content {
    
}
.Goals-Dash-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
  }
a:hover {
    text-decoration: none;
    color: white;
    text-decoration: none;
  }
/* Profile Img  */
.Goals-Dash-Profile {
    height: 250px;
    width: 20%;
    /* background-color: rgb(0, 0, 0); */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 12px;
    margin-top: 10px;
    border-radius: 5px;
}
.Goals-Profile-Img-Content {

}
.Goals-Profile-Img {
    width: 210px;
    height: 210px;
    border-radius: 5px;
    border: 5px solid #ffffff;
}
.Goals-Profile-Info-Content {

}
.Goals-Profile-Name {
    font-size: 35px;
    padding-right: 10px;
    font-family: 'Audiowide', cursive;
    color: white;
}
.Desc-Content {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    width: 220px;
    flex-direction: column;
    justify-content: left;
    align-content: left;
    align-items: left;
    float: left;
    margin-top: 10px;
}
.Desc-Content img {
    float: left;
    text-align: center;
    width: 80px;
    height: 80px;
}
.Desc-Content h1 {
    float: right;
    font-size: 35px;
    margin-left: 85px;
    margin-top: -60px;
}
.Desc-Content h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    float: left;
    word-wrap: break-word;
    height: 120px;
    max-width: 220px;
}
.Goals-Intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -680px;
    margin-left: -100px;
}
.Goals-Intro-List {
    display: flex;
    flex-direction: column;
    width: 342px;
    align-items: center;
    padding: 24px;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}
.Goals-Intro-List img {
    height: 80px;
    width: 80px;
}
.Goals-Intro-List h2 {
    font-size: 25px;
    text-decoration: underline;
}
.Title {
    font-size: 40px;
    font-style: italic;
    font-family: 'Audiowide', cursive;
}
Input {
    width: 400px;
}
.Goal-Btn {
    border-radius: 8px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    font-family: 'Changa', sans-serif;
}
.Goal-Btn:hover {
    cursor: pointer;
}.Goals-List {
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Goals-Listings {
    height: 100px;
    min-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background: #ffffff;
    font-family: 'East Sea Dokdo', cursive;
    border-radius: 20px;
    background-image: url('http://i.imgur.com/pHNDtQg.jpg');
}
.Goal-Delete-Icon {
    margin-top: 5px;
    text-align: right;
    height: 20px;
    margin-right: 6px;
    width: 20px;
}
.Goal-Delete-Icon:hover {
    background: red;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.Goal-Edit-Icon {
    margin-top: 5px;
    text-align: right;
    height: 20px;
    margin-right: 6px;
    width: 20px;
}
.Goal-Edit-Icon:hover {
    background: lightblue;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.Goals-Icons {
    
}






@media only screen and (max-width: 376px) {
    .Goals-Appp {
        width: 375px;
        min-height: 672px;
        height: auto;
    }
    .Goals-Profile-Img {
        height: 110%;
        width: 110%;
        margin-top: 0px;
    }
    .Goals-Profile-Info-Content {
        padding-top: -80px;
        height: 80%;
    }
    .Goals-Profile-Name {
        font-size: 12.5px;
    }
    .Goals-Dash-Profile {
        padding: 2px;
    }
    .Desc-Content {
        padding-left: 8px;
        margin-top: 5px;
        width: 110%;
    }
    .Desc-Content img {
        margin-left: -5px;
        width: 40px;
        height: 40px;
    }
    .Desc-Content h1 {
        font-size: 18px;
        margin-top: -30px;
        margin-left: 35px;
    }
    .Desc-Content h2 {
        height: 260px;
        max-width: 110%;
    }
    .Goals-Intro {
        margin-top: -600px;
        margin-left: 80px;
    }
    .Goals-Intro-List {
        width: 200px;
        margin-bottom: 20px;
    } 
    .Goals-Intro-List img {
        height: 40px;
        width: 40px;
    }
    .Goals-Intro-List h2 {
        font-size: 15px;
    }
    .Goals-Bodyy {
        width: 32%;
        height: 80%;
    }
    .Title {
        font-size: 10px;
        margin-left: -1620px;
        margin-top: 700px;
        width: 250px;
    }
    .Goal-Input {
        width: 250px;
        margin-top: 30px;
        margin-right: 730px;
    }
    .Goals-List {
        font-size: 10px;
        max-height: 500px;
        width: 270px;
        margin-top: -5px;
        padding: 0px;
    }
    .Goals-Content {
        margin-left: -900px;
    }
    .Goals-Listings {
        
    }
    .Goal-Btn {
        margin-right: 730px;
        margin-top: 5px;
    }
}