.Routine-App {
    min-height: 100vh;
}
.Routine-Routine-Info {
    height: 75px;
    width: 20%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 6px;
    margin-top: 70px;
    color: #ffffff;
}
.Routine-Routine-Details3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
}
.Routine-Routine-Details {
    height: 100px;
    width: 20%;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 6px;
    margin-top: 180px;
    margin-left: -316px;
    color: #ffffff;
}
.Return-Btn {
    display: flex;
    float: left;
    padding: 20px;
    margin-top: 625px;
    margin-left: -800px;
}

.Routine-App {
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Routine-Exercises {
    margin-left: 400px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    max-height: 250px;
    color: #ffffff;
}
.Routine-Exercises>img {
    max-width: 218px;
    max-height: 200px;
    float: left;
}
.Routine-Text {
    margin-top: -100px;
}
.Routine-Text>h2 {
    width: 180px;
    float: right;
}
.Routine-Exercises>.Routine-Btn>button {
    float: left;
    max-width: 218px;
}

@media only screen and (max-width: 376px) {
    .Routine-App {
        width: 375px;
        min-height: 672px;
        height: auto;
    }
    .Routine-Routine-Info {
        width: 100px;
        height: 130px;
        margin-top: 60px;
    }
    .Routine-Routine-Details3 {

    }
    .Routine-Routine-Details {
        margin-top: 220px;
        margin-left: -111px;
        width: 100px;
        height: 300px;
    }
    .Routine-Exercises {
        justify-content: center;
        min-height: 650px;
        margin-top: -50px;
        align-items: center;
        margin-bottom: 60px;
    }
    .List-Container {
        margin-left: -271px;
        margin-top: 0px;
        width: 400px;
    }
    .Return-Btn {
        float: left;
        height: 50px;
        width: 100px;
        margin-top: 700px;
        margin-left: -900px;
    }
    .Return-Btn img {
        width: 16px;
        height: 16px;
    }
    .Routine-Exercises>img {
        max-width: 218px;
        max-height: 200px;
        float: none;
    }
    .Routine-Text {
        margin-top: -100px;
    }
    .Routine-Text>h2 {
        margin-top: 100px;
        width: 180px;
        float: none;
        color: #000000;
    }
    .Routine-Exercises>.Routine-Btn>button {
        float: none;
        max-width: 218px;
    }
    .Delete-Img {
        width: 16px;
        height: 16px;
    }
}