.Routine-Dash-Header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-image: linear-gradient(97deg, #ffffff, #000000);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: white;
    position: absolute;
}
.Routine-Title {
    display: flex;
    justify-content: left;
    align-items: center;
}
.Routine-Logout {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: transparent;
    border: none;
    justify-content: right;
    float: right;
}
.Routine-Logout:hover {
    cursor: pointer;
}
.Routine-Routine-Info {
    height: 250px;
    width: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 6px;
    margin-top: 70px;
    color: #ffffff;
}
.Routine-Routine-Details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    color: #ffffff;
}
.Routine-Routine-Details {
    height: 200px;
    width: 20%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 6px;
    margin-top: 380px;
    margin-left: -316px;
    color: #ffffff;
}
.Return-Btn {
    display: flex;
    float: left;
    padding: 20px;
    margin-top: 625px;
    margin-left: -800px;
}

.Routine-App {
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Routine-Exercises {
    margin-left: 400px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    margin-top: 20px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    width: 60%;
    max-height: 250px;
    color: #ffffff;
}
.Routine-Exercises>img {
    max-width: 218px;
    max-height: 200px;
    float: left;
}
.Routine-Text {
    margin-top: -100px;
}
.Routine-Text>h2 {
    width: 180px;
    float: right;
}
.Routine-Exercises>.Routine-Btn>button {
    float: left;
    max-width: 218px;
}

@media only screen and (max-width: 376px) {
    .Routine-App {
        width: 375px;
        height: auto;
    }
    .Routine-Dash-Header {
        height: 25px;
    }
    .Routine-Logout {
        font-size: 18px;
    }
    .Routine-Title {
        font-size: 25px;
        margin-top: -5px;
    }
    .Routine-Routine-Info {
        width: 100px;
        height: 100px;
    }
    .Routine-Routine-Details {
        margin-top: 200px;
        margin-left: -111px;
        width: 100px;
        height: 300px;
    }
    .Routine-Exercises {
        justify-content: center;
        min-height: 650px;
        margin-top: -50px;
        align-items: center;
        margin-bottom: 60px;
    }
    .List-Container {
        margin-left: -270px;
        margin-top: -100px;
        width: 400px;
    }
    .Routine-Exercises>img {
        max-width: 218px;
        max-height: 200px;
        float: none;
    }
    .Routine-Text {
        margin-top: -100px;
    }
    .Routine-Text>h2 {
        margin-top: 100px;
        width: 180px;
        float: none;
        color: #000000;
    }
    .Routine-Exercises>.Routine-Btn>button {
        float: none;
        max-width: 218px;
    }
}