@import url('https://fonts.googleapis.com/css?family=Audiowide|Changa');

.Routines-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/jVhILry/grey-4k-motion-background_eye4pxwjl__F0000.png');
}
.Routines-Body {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding: 6px;
    color: black;
    margin-left: 500px;
    margin-top: -650px;
}

.Routine-List > h2 {
    padding: 0px;
    /* height: 140px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    position: relative;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    background: grey; */
}
.Routine-List .Routine-Btn-Container {
    color: white;
    background: #000000;
    text-decoration: none;
    display: inline-block;
    border: 1px solid rgb(255, 255, 255);
    position: relative;
    padding: 12px;
    border-radius: 10px;
    left: 20%;
    top: 16%;
    width: 800px;
    height: 50px;
    font-size: 40px;
    left: 0%;
    font-family: 'Audiowide', cursive;
    margin-top: 10px;
}
.Routine-List .Routine-Btn-Container:hover {
    background: white;
    color: black;
    border: 1px solid rgb(0, 0, 0);
}
.binsTitle {
    position: absolute;
    left: 310px; 
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 500px;
    color: white;
    top: -52px;
    text-decoration: none;
}
.binsTitle h1 {
    text-decoration: none;
    display: inline-block;
    color: white;
}



.Routine-List>day {

}
.Routine-List>name {

}
.Routine-List>muscle {

}
.Routine-List>type {

}
.Routine-List>diff {

}
.Routine-List>desc {

}


.Routines-Dash-App {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: white;
  }
a:hover {
    text-decoration: none;
    color: white;
    text-decoration: none;
  }
/* Profile Img  */
.Routines-Dash-Profile {
    height: 250px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    float: left;
    padding: 12px;
    margin-top: 50px;
}
.Routines-Profile-Img-Content {
    
}
.Routines-Profile-Img {
    
}
.Profile-Img {
    width: 200px;
    height: 200px;
    border-radius: 5px;
    border: 5px solid #ffffff;
}
.Routines-Profile-Info-Content {
    
}
.Routines-Profile-Name {
    font-size: 35px;
    padding-right: 10px;
    font-family: 'Audiowide', cursive;
    color: white;
}




@media only screen and (max-width: 376px) {
    .Routines-App {
        width: 375px;
        min-height: 672px;
        height: auto;
    }
    .Profile-Img {
        height: 110%;
        width: 110%;
        margin-top: -40px;
    }
    .Routines-Profile-Info-Content {
        padding-top: -80px;
        height: 80%;
        /* padding-top: -80px;
        height: 80%; */
    }
    .Routines-Profile-Name {
        font-size: 12.5px;
    }
    .Routines-Dash-Profile {
        padding: 2px;
    }
    .Routines-Dash-Navbar1 {
        height: 50px;
        width: 33%;
        margin-top: -110px;
    }
    .Routines-Dash-Navbar1>ul {
        font-size: 10px;
    }
    li {
        padding: 5px;
    }
    .Routines-Body {
        width: 50%;
        height: 80%;
        margin-top: -600px;
    }
    .Routine-List .Routine-Btn-Container {
        color: white;
        background: #000000;
        text-decoration: none;
        display: inline-block;
        border: 1px solid rgb(255, 255, 255);
        position: relative;
        padding: 12px;
        border-radius: 10px;
        left: 20%;
        top: 16%;
        width: 200px;
        height: 50px;
        font-size: 25px;
        left: -160%;
        font-family: 'Audiowide', cursive;
        margin-top: 10px;
    }
}
