@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.Step2-App {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #333333;
    font-family: 'Nunito', sans-serif;
}
.Step2-Body {
    background-color: #3f3f3f;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 0px;
}
.Step2-Routine-List {
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    font-family: 'Nunito', sans-serif;
    background: #c5c5c5;
    color: #333;
}
.Step2-Image {
    width: 258px;
    height: 255px;
}
.Step2-Btn {
    font-weight: bold;
    max-width: 140px; 
    min-width: 145px;
    margin-left: 30px;
}
.Step2-Nav {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    margin-bottom: 0px;
    margin-left: 10px;
}
/* .Step2-Carousel {
    margin-bottom: 22px;
} */