@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Nunito');

.Products-App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: #333333;
    font-family: 'Nunito', sans-serif;
}
.Products-Body {
    background-color: #3f3f3f;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    padding: 6px;
    margin-top: 0px;
}
.Products-Display h3 {
    color: #FF9000;
    font-size: 25px;
}
.Products-Display{
    display: flex;
    flex-direction: column;
    align-content: center;
    float: left;
    width: 40.00%;
    padding: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.2);
    margin: 5px;
    margin-left: 68px;
    margin-top: 55px;
    min-height: 450px;
    max-height: 310px;
    border-radius: 15px;
    background-color: #333333;
    color: #f2f2f2;
}
.Products-Display:after {
    content: '';
    clear: both;
    display: table;
}
.mapDiv:hover{
    opacity: 1;
}
.Products-Display h3 {
    color: #FF9000;
    font-size: 25px;
}
.Products-Display img {
    align-self: center;
}
.Products-Display p {
    text-align: center;
}
.Products-Display h4 {
    color: #f2f2f2;
    font-size: 20px;
    margin-top: 20px;
    margin-left: 50px;
}
.Products-Display select, button {
    color: #FF9000;
    margin-top: -35px;
}
form.Products-Form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 4px;
    /* text-align: center;
    align-items: center;
    align-content: center; */
}